{% extends 'deploy/wrapper.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div id="standard-format">
    <p>
        <strong>{% trans 'CAUTION:' %}</strong>
        {% trans "Adding SSH keys will allow 'root' logins on your server." %}
        {% trans 'The root user will have complete and total access to your decrypted data as well as the ability to permanently damage the operating system.' %}
        {% trans 'Use with caution!' %}
        {% trans 'We strongly discourage the use of keys which are not secured with a passphrase.' %}
    </p>
</div>

<form method="post">
    <div id="standard-format">
      {% csrf_token %}
      {% bootstrap_field form.pubkey show_label=False %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% trans 'Save' %}
        </button>
      {% endbuttons %}
    </form>
    </div>
</form>
{% endblock %}
False
