{% extends 'deploy/wrapper.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div id="standard-format">
    <p>
        {% trans 'Your Gibberfish cloud can regularly synchronize your data to a backup server for disaster recovery purposes.' %}
        {% trans 'The files are transmitted in encrypted form with encrypted filenames for safe storage.' %}
        {% trans 'The currently supported protocols are SSH or Windows (CIFS).' %}
    </p>
</div>

<div id="standard-format">
    <form id="backup-form" method="post" class="form">
    {% csrf_token %}
    <p>
        {% bootstrap_field form.method %}
        <div class="hidden" id="ssh_fields">
          {% bootstrap_field form.ssh_target %}
          <p>
            {% trans "Copy the public key below to your backup hosts' authorized_keys file." %}
          </p>
          {% bootstrap_field form.pubkey show_label=False %}
        </div>
        <div class="hidden" id="cifs_fields">
          {% bootstrap_field form.cifs_target %}
          {% bootstrap_field form.cifs_username %}
          {% bootstrap_field form.cifs_password %}
          {% bootstrap_field form.cifs_domain %}
        </div>
        <div class="hidden" id="tor_fields">
          {% bootstrap_field form.use_tor %}
        </div>
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            {% trans 'Save' %}
          </button>
        {% endbuttons %}
      </form>
</div>

<script>
    // set the inputs back to their hardcoded state
    function resetInputs () {
      $("#ssh_fields").addClass('hidden');
      $("#ssh_fields input[type=text]").each(
        function () {
            $(this).removeAttr("required");
        }
      )

      $("#cifs_fields").addClass('hidden');
      $("#cifs_fields input[type=text]").each(
        function () {
            $(this).removeAttr("required");
        }
      )
      $("#tor_fields").addClass('hidden');
    }

    function revealFields (obj) {
        if (obj.value == 'none') {
            resetInputs();
        }
        else if (obj.value == 'ssh') {
            resetInputs();
            $("#ssh_fields").removeClass('hidden');
            $("#ssh_fields input[type=text]").each(
              function () {
                  $(this).attr("required", "true");
              }
            )
            $("#tor_fields").removeClass('hidden');
        }
        else if (obj.value == 'cifs') {
            resetInputs();
            $("#cifs_fields").removeClass('hidden');
            $("#cifs_fields input[type=text]").each(
              function () {
                  $(this).attr("required", "true");
              }
            )
            $("#tor_fields").removeClass('hidden');
        }
    }

    $('input[type=radio][name=method]').change(
        function () {
            var obj = $(this)[0];
            revealFields(obj);
        }
    );

    $(document).ready(
        function () {
            $('input[type=radio][name=method]:checked').trigger('change');
        }
    );
</script>
{% endblock %}
