{% extends 'deploy/wrapper.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
    <div id="standard-format">
        <p>
            {% trans 'Please enter your encryption passphrase to unlock and launch your Gibberfish cloud.' %}
        </p>
        <div class="hidden" id="install-message">
            {% trans 'Gibberfish is now launching.' %} <strong>{% trans 'Please do not navigate away from this page until it is complete.' %}</strong>
        </div>

        <form action="" class="form">
            {% csrf_token %}
            {% bootstrap_field form.passphrase show_label=False %}
            {% buttons %}
              <button class="hidden" type="submit" class="btn btn-primary">{% trans 'Launch!' %}</button>
            {% endbuttons %}
        </form>
        <p>
          {% if request.GET.force == '1' %}
            {% trans 'Force rebuild:' %} <strong>{% trans 'True' %}</strong>
          {% endif %}
        </p>
        <div class="progress">
            <div class="hidden" id="progressbar"></div>
            <div class="hidden" id="status"></div>
        </div>

        <div class="hidden" id="console">
            <form action="">
                <p>
                    {{ form.output }}
                </p>
            </form>
        </div>

        <div class="hidden" id="success-message">
            {% trans 'Gibberfish was installed successfully!' %} {% blocktrans %}You may now visit <a href='https://{{ nextcloud_domain_name }}' target="_blank">{{ nextcloud_domain_name }}</a> and log in using the following temporary credentials.{% endblocktrans %}
            <br />
            <br />
            {% trans 'Username' %}: <strong>admin</strong>
            <br />
            {% trans 'Passphrase' %}: <strong>{{ admin_passphrase }}</strong>
            <br />
            <br />
            {% trans 'Please change your passphrase once you have logged in.' %}
        </div>
    </div>

    <script type="text/javascript">
        function scrollToBottom() {
            $('#output').scrollTop($('#output')[0].scrollHeight);
        }

        var bar = new ProgressBar.Line('#progressbar', {
          strokeWidth: 2,
          duration: 1400,
          color: '#00adee',
          trailColor: '#eee',
          trailWidth: 1,
          svgStyle: {width: '100%'}
        });
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/ws/");
        ws.debug = true;
        var counter = 0.0;

        ws.onmessage = function(e) {
            data = JSON.parse(e.data)
            if(data.action == 'print'){
                var re = /^(-|ERROR|SUCCESS) (.*)/;
                if(re.test(data.message)){
                    var msg = re.exec(data.message);
                    if(msg[1] == '-' || msg[1] == 'ERROR'){
                        document.getElementById("status").innerHTML = msg[2];
                    }
                    else if (msg[1] == 'SUCCESS') {
                        if("{{ first_run }}".toLowerCase() == "false") {
                            $("#install-message").addClass('hidden');
                            $("#success-message").removeClass('hidden');
                        }
                    }
                }
                $('#output').append(data.message + "\n");
                scrollToBottom();
            }
            else if (data.action == 'start_progress'){
                    counter = 0.0
            }
            else if (data.action == 'increment_progress'){
                if (counter <= 0.90){
                    counter = counter + 0.001
                }
                else if (counter <= 0.99){
                    counter = counter + 0.0001
                }
            }
            else if (data.action == 'stop_progress'){
                counter = 1.0
            }
            bar.animate(counter);  // Number from 0.0 to 1.0
        };

        $('form').submit(
            function(e) {
                passphrase = document.getElementById('passphrase').value;

                $("#submit").attr("disabled", "disabled");
                $("#passphrase").attr("type", "password");
                $("#passphrase").attr("readonly", true);
                $("#passphrase").width('100%')

                ws.send(
                    JSON.stringify(
                        {
                            "action"            : "launch",
                            "admin_email"       : "{{ admin_email }}",
                            "admin_passphrase"  : "{{ admin_passphrase }}",
                            "domain_name"       : "{{ nextcloud_domain_name }}",
                            "office_domain_name": "{{ office_domain_name }}",
                            "conference_domain_name": "{{ conference_domain_name }}",
                            "hidden_domain_name": "{{ hidden_domain_name }}",
                            "language"          : "{{ language }}",
                            "passphrase"        : passphrase,
                            "testing"           : "{{ testing }}",
                            "git_branch"        : "{{ git_branch }}",
                            "force_rebuild"    : "{{ request.GET.force }}",
                        }
                    )
                )

                $("#progressbar").removeClass('hidden');
                $("#status").removeClass('hidden');
                $("#console").removeClass('hidden');
                $("#install-message").removeClass('hidden')
                $("#launcher-text").addClass('hidden')
                $("#passphrase").addClass('hidden')
                document.getElementById("status").innerHTML = "{% trans 'Starting' %}";
                e.preventDefault();
            }
        )

        // Call onopen directly if socket is already open
        if (ws.readyState == WebSocket.OPEN) ws.onopen();
    </script>
{% endblock content %}
