{% extends 'deploy/wrapper.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div id="standard-format">
    <p>
        {% trans 'If you do not have a static IP address (for instance when using a residential internet connection), you must configure a dynamic DNS update service.' %}
        {% trans 'Contact Gibberfish for the correct settings to enter below.' %}
    </p>
</div>

<form method="post">
    <div id="standard-format">
      {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        {% endbuttons %}
    </div>
</form>
{% endblock %}
