{% extends 'deploy/wrapper.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<form method="post">
    <div id="standard-format">
      {% csrf_token %}
      <p>
        {% trans 'Please enter the domain names that have been configured for your Gibberfish cloud.' %}
      </p>
      <p>
        {% trans 'The "base" domain will act as the web address of your server.' %}
        {% trans 'The "office" and "conference" domains will be used for additional services.' %}
        {% trans 'Refer to the Management Portal Guide for more information.' %}
      </p>
        {% bootstrap_form form  %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% trans 'Save' %}
        </button>
      {% endbuttons %}
    </div>
</form>
{% endblock %}
