{% extends 'deploy/wrapper.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<form method="post">
    <div id="standard-format">
      {% csrf_token %}
      <p>
        {% trans 'You must set an email contact to complete your account setup.' %}
      </p>
      {% bootstrap_form form show_label=False%}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% trans 'Save' %}
        </button>
      {% endbuttons %}
    </div>
</form>
{% endblock %}
