{% extends 'deploy/wrapper.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <p class="note centered">
        {% trans 'The following SSH public keys are installed for the root user:' %}
    </p>
    <div id="list-ssh-keys-container">
        {% if ssh_keys %}
        <table class="centered">
            {% comment %}Translators: This describes an SSH key fingerprint{% endcomment %}
            <th>{% trans 'Key Fingerprint' %}</th>
            <th>{% trans 'Username' %}</th>
            {% comment %}Translators: This is shortened from "The date this was added"{% endcomment %}
            <th>{% trans 'Date Added' %}</th>
            {% for key in ssh_keys %}
            <tr>
                <td class="ssh-keys-list">{{ key.fingerprint }}</td>
                <td class="ssh-keys-list">{{ key.name }}</td>
                <td class="ssh-keys-list">{{ key.created }}</td>
                <td>
                    <div class="trash-icon">
                        <a href="{% url 'delete_ssh_key' key.fingerprint %}" title="{% trans 'Delete' %}">
                            🗑️
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p class="note">
                &bull; {% trans 'None' %}
            </p>
        {% endif %}
        <div class="btn btn-primary btn-link">
            {% comment %}Translators: This is shortened from "Add new SSH Key"{% endcomment %}
            <a href="{% url 'add_ssh_key' %}">{% trans 'Add New' %}</a>
        </div>
    </div>
    <p class="note centered">
        <strong>{% trans 'Note:' %}</strong> {% trans 'Changes to SSH keys may take up to 5 minutes to activate' %}
    </p>
{% endblock %}
