{% extends 'deploy/wrapper.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div id="standard-format">
  <p>
    {% trans 'To protect your privacy and safety, we have included a self-destruct option which will irrevocably destroy all of the data on the server.' %}
    {% trans 'Your files will be deleted and then overwritten with random bits several times to prevent their recovery.' %}
  </p>
  <div class="radioactive centered">
    ☢️ ☢️ ☢️
  </div>
  <div class="centered uppercase">
    <strong>
      {% trans 'This procedure is irreversible!' %}
    </strong>
  </div>
</div>

<form method="post">
    <div id="standard-format">
      {% csrf_token %}
      <p class="centered">
        {% trans 'Please manually enter the following confirmation code to proceed:' %}
      </p>
      <p class="centered">
        <strong>{{ form.hidden_confirmation_code.value }}</strong>
      </p>
      {% bootstrap_field form.hidden_confirmation_code %}
      {% bootstrap_field form.confirmation_code show_label=False %}
      {% bootstrap_field form.confirm %}
      {% buttons %}
        <button type="submit" class="btn btn-primary uppercase">{% trans 'self-destruct' %}</button>
      {% endbuttons %}
      </p>
    </div>
</form>
{% endblock %}
