{% extends 'deploy/wrapper.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div id="standard-format">
  <p>
    {% trans "Click the 'Reboot' button below to reboot your server." %}
    {% trans "Please wait several minutes for the reboot to complete." %}
    {% trans "Once the server has restarted, you must re-launch your cloud from the 'Deploy' tab." %}
</p>
</div>

<form method="post">
    <div id="standard-format">
      {% csrf_token %}
      <div class="hidden">
        {% bootstrap_form form %}
      </div>
      {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans 'Reboot' %}</button>
      {% endbuttons %}
    </div>
</form>
{% endblock %}
