{% extends 'deploy/wrapper.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div id="standard-format">
  <p>
    <h2>
      {% trans 'Settings' %}
    </h2>
  </p>
    <a href="{% url 'password_change' %}">{% trans 'Click here to change your login passphrase' %}</a>
  </p>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_field form.email_address %}
    {% bootstrap_field form.timezone %}
    {% bootstrap_field form.language %}
    {% bootstrap_field form.show_advanced %}
    <div id="advanced-options" class="hidden" >
      <strong>
        {% trans 'Note:' %} {% trans 'You probably do not want to change these values!' %}
      </strong>
      <p>
        {% bootstrap_field form.base_domain %}
        {% bootstrap_field form.office_domain %}
        {% bootstrap_field form.conference_domain %}
      </p>
    </div>
    <div>
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        {% trans 'Save' %}
      </button>
    {% endbuttons %}
  </form>
</div>

<script type="text/javascript">
  $(function()
    {
      $('[name="show_advanced"]').change(function()
        {
          if ($(this).is(':checked')) {
             $("#advanced-options").removeClass('hidden');
          }
          else {
            $("#advanced-options").addClass('hidden');
          };
        });
      });
</script>

{% endblock %}
