{% extends 'deploy/wrapper.html' %}
{% load i18n %}

{% block content %}
    <div id="standard-format">
        {% comment %}Translators: This sentence ends with an SSH key fingerprint string{% endcomment %}
        {% trans 'This will remove the SSH key with the fingerprint' %} <strong>{{ object.fingerprint }}</strong>.
        <form action="" method="post">
            {% csrf_token %}
            <p>{% trans "Are you sure?" %}</p>
            <input type="submit" value="{% trans 'Confirm' %}" />
        </form>
    </div>
{% endblock %}
