{% extends 'deploy/wrapper.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
  <div id="standard-format" class="font-eighty-percent">
    {% if deployed %}
      <h2>
        {% trans 'Encrypted Storage' %}:
        {% if is_locked %}
          <div class="red">
            {% comment %} Translators: This is 'locked', as in a locked door {% endcomment %}
            {% trans 'Locked' %} 🔒
          </div>
        {% else %}
          <div class="green">
            {% comment %} Translators: This is 'unlocked', as in an unlocked door {% endcomment %}
            {% trans 'Unlocked' %} 🔓
          </div>
        {% endif %}
      </h2>
      <h2>
        {% trans 'Deployment Status' %}:
        {% if not is_locked and docker_status|length > 0 %}
          <div class="green">
            {% comment %} Translators: This is 'active', as in the software has been started {% endcomment %}
            {% trans 'Active' %}
          </div>
      </h2>
      {% if not is_locked %}
        <div class="indented">
          <table>
            <tr>
              {% comment %}Translators: 'Container' refers to a Docker container{% endcomment %}
              <th>{% trans 'Container' %}</th>
              <th>{% trans 'Details' %}</th>
              <th>{% trans 'Status' %}</th>
            </tr>
            {% for c in docker_status %}
              <tr>
                <td width='100px'>{{ c.name }}</td>
                <td width='200px'>{{ c.status }}</td>
                {% if c.ok %}
                  <td class="green">
                      ✔️
                  </td>
                {% else %}
                  <td class="red">
                    ❌
                  </td>
                {% endif %}
                </td>
                <td width='100px'>
                  [ <a href="/logs/download/{{c.id}}">{% trans 'Show Log' %}</a> ]
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endif %}
    {% else %}
      <div class="red">
        {% comment %} Translators: This is 'inactive', as in the software has not been started {% endcomment %}
        {% trans 'Inactive' %}
      </div>
    {% endif %}

    <p>
      <h2>{% trans 'System Information' %}</h2>
    </p>
    <div class="indented">
      <p>
        <h4 class="inline">{% trans 'Uptime' %}: </h4> {{ uptime }}
      <p>
        <h4>{% trans 'Mounted Filesystems' %}</h4>
        <table>
          <tr>
            {% comment %} Translators: Total, Used, and Free refer to disk space {% endcomment %}
            <th>{% trans 'Device' %}</th>
            <th>{% trans 'Mountpoint' %}</th>
            <th>{% trans 'Total' %}</th>
            <th>{% trans 'Used' %}</th>
            <th>%</th>
          </tr>
          {% for f in filesystems %}
            <tr>
              <td>{{ f.device }}</td>
              <td>{{ f.mountpoint }}</td>
              <td>{{ f.total }}</td>
              <td>{{ f.used }}</td>
              <td>{{ f.percent_used }}</td>
            </tr>
          {% endfor %}
        </table>
      </p>
      <p>
        {% comment %} Translators: This refers to the current 'git' commit hashes {% endcomment %}
        <h4 class="inline">{% trans 'Commit IDs' %}:</h4> daygate ({{ daygate_commit }}) | pancrypticon ({{ pancrypticon_commit }})
      </p>
    </div>
    <p>
      {% trans 'Last updated' %}: {{ last_updated|date }} {{ last_updated|time }}
    </p>
  {% else %}
    <h4>{% trans 'Welcome to the Gibberfish Management Portal!' %}</h4>
    <p>
      {% trans 'From here you can deploy and manage your Gibberfish server.' %}
      {% with 'https://gibberfish.org/wp-content/uploads/2018/12/Management-Portal-User-Guide.pdf' as guide_url %}
        {% blocktrans %}Please consult the <a href='{{ guide_url }}'>Management Portal User Guide</a> for information to help you get started!{% endblocktrans %}
      {% endwith %}
    </p>
    <p>
      {% trans 'Once you have deployed your server, this page will display useful information about the system.' %}
    </p>
  {% endif %}
</div>
{% endblock %}
