{% extends 'deploy/wrapper.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% load bootstrap4 %}

<div id="login-container">
    {% if form.errors %}
        <p>{{ form.otp_token.errors }} {{ form.otp_device.errors }}</p>
    {% endif %}
    <form method="post" action="{% url 'totp' %}">
        {% csrf_token %}
        <div>
          {% trans 'Please enter your 2nd factor code:' %}
        </div>
        <div id="totp-form">
          {% bootstrap_field form.otp_device %}
          {% bootstrap_field form.otp_token %}
            {% buttons %}
              <button type="submit" class="btn btn-primary">
                {% trans 'Verify' %}
              </button>
            {% endbuttons %}

        </div>
    </form>
</div>
{% endblock %}
