{% extends 'deploy/wrapper.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div id="standard-format">
    <form method="post" action="{% url 'totp_remove_device' %}">
        {% csrf_token %}
        <div id="totp-remove-confirmation">
            <p>
                {% trans "This will remove your TOTP device configuration and delete all backup tokens." %} {% trans "Are you sure?" %}
            </p>
            <div id='totp-remove-button'>
              {% buttons %}
                <button type="submit" class="btn btn-primary">
                  {% trans 'Confirm' %}
                </button>
              {% endbuttons %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
