{% extends 'deploy/wrapper.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<script type="text/javascript" src='{% static "deploy/js/jquery-1.12.1.min.js" %}'></script>

<div id="standard-format">
    <form method="post" action="{% url 'totp_add_device' %}">
        {% csrf_token %}
        <div id="totp-confirmation">
            <p>
                {% trans "Scan this QR code with your OTP app, then generate a 6-digit code and enter it below." %}
            </p>
            <div id="totp-qrcode">
                <img src="/totp/qrcode/{{ device_key }}/">
            </div>
            <div id="totp-confirmation-code">
                {% bootstrap_field form.confirmation %}
                {% buttons %}
                  <button type="submit" class="btn btn-primary">
                    {% trans 'Confirm' %}
                  </button>
                {% endbuttons %}
                <!-- <input id="submit" type="submit" value="{% trans 'Confirm' %}"> -->
                {% bootstrap_field form.key %}
            </div>
            <p>
                {% trans "Once confirmed you will be required to use your mobile device to log in." %}
            </p>
        </div>
    </form>
</div>

<script type="text/javascript">
    $("#id_key").val("{{ device_key }}");
</script>
{% endblock %}
