{% extends 'deploy/wrapper.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block content %}
<div id="standard-format">
    <p>
      {% trans 'Gibberfish releases online updates to our software via our git repositories.' %}
      {% trans 'We cryptographically sign our updates to prevent tampering, but you may also follow our <a href="https://gibberfish.org/blog/category/canary/feed/" target="_blank">warrant canary</a> as an extra precaution.' %}
    </p>
    {% trans 'If you would like your server to automatically check for and apply the updates daily, you must enable this below.' %}
</div>

<form method="post">
    <div id="standard-format">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
      {% endbuttons %}
    </div>
</form>
{% endblock %}
