{% extends 'deploy/wrapper.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  <div id="standard-format">
    {% if file_exists %}
      <p>
        {% trans 'Click the link below to download the VPN client bundle, which contains the files needed to set up your Gibberfish VPN connection.' %}
      </p>
      <p>
        <strong>
          {% trans 'Note:' %}
          {% trans 'This bundle contains sensitive cryptographic keys.' %}
          {% trans 'Please save it in a secure place, such as your Gibberfish cloud.' %}
          {% trans 'We recommend that you review our VPN Guide before downloading and distributing this file.' %}
        </strong>
      </p>
    {% else %}
      {% trans 'No VPN client bundle found.' %}
      {% trans 'Please deploy/unlock your Gibberfish cloud, then return here to download the file.' %}
    {% endif %}
  </div>

  <div id="vpn_client-download-container">
    {% if file_exists %}
        <a href="/vpn/download/">💾 {% trans 'Download VPN client bundle' %}</a>
    {% endif %}
  </div>

{% endblock %}
