<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% trans 'Gibberfish Management Portal' %} | {{ page_title }}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'deploy/img/favicon.ico' %}"/>
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href='{% static "deploy/css/main.css" %}'/>
        {% bootstrap_javascript jquery='full' %}
        <script type="text/javascript" src='{% static "deploy/js/reconnecting-websocket.js" %}'></script>
        <script type="text/javascript" src='{% static "deploy/js/progressbar.js" %}'></script>
        {% bootstrap_messages %}
    </head>

    <body id="home">
      <header>
          <div id="noscript-warning" class="errorlist">
              {% trans 'This site requires JavaScript.' %}
              {% comment %}Translators: The translation for the word "trusted" should match the one in use by the NoScript browser extension. See here: https://gitlab.com/gibberfish/daygate/snippets/1865311{% endcomment %}
              {% trans "Please change the NoScript setting to 'TRUSTED' in the toolbar above" %} <img src="{% static 'deploy/img/noscript.png' %}"> ⬆
          </div>
          {% if request.user.is_authenticated %}
          <div id="right-header-menu">
              <ul>
                  {% if not user_has_device %}
                      {% comment %}Translators: 2FA = "Two Factor Authentication"{% endcomment %}
                      <li id="configure-2fa-btn"><a href="/totp/add">{% trans 'Configure 2FA!' %}</a></li>
                  {% elif request.user.is_verified %}
                    {% if not user_has_tokens %}
                    {% comment %}Translators: Please try to limit this phrase to 2-3 words maximum{% endcomment %}
                    <li><a href="/totp/static">{% trans 'Get backup tokens' %}</a></li>
                    {% endif %}
                  <li><a href="/totp/remove">{% trans 'Reset 2FA' %}</a></li>
                  {% endif %}
                  {% if user_has_device is False or request.user.is_verified  %}
                  <li><a href="/accounts/logout">{% trans 'Logout' %}</a></li>
                  {% endif %}
                  <li><a href="/settings" title={% trans 'Settings' %}>🐟</a></li>
              </ul>
          </div>
          {% endif %}
          <div id="header-content">
              <a href="/"><img class="header-image" src="{% static 'deploy/img/logo-96x96px.png' %}"></a> {% trans 'Management Portal' %}
          </div>
      </header>

      <div id="menu" class="uppercase hidden">
         <ul>
            <li><a href="/" title="{% trans 'Server Status' %}" id="statusnav">{% trans 'Server Status' %}</a></li>
            {% comment %}Translators: This button starts the software deployment process{% endcomment %}
            <li><a href="/deploy/" title="{% trans 'Deploy' %}" id="deploynav">{% trans 'Deploy' %}</a></li>
            {% comment %}Translators: This button enables opt-in access to offsite data backups{% endcomment %}
            {% if is_self_hosted %}
                <li><a href="/nsupdate/" title="{% trans 'DNS Updates' %}" id="nsupdatenav">{% trans 'DNS' %}</a></li>
            {% endif %}
            <li><a href="/updates/" title="{% trans 'Software Updates' %}" id="updatenav">{% trans 'Updates' %}</a></li>
            {% if request.user.is_verified %}
                <li><a href="/backup/" title="{% trans 'Backups' %}" id="backupnav">{% trans 'Backups' %}</a></li>
                <li><a href="/ssh_keys/" title="{% trans 'SSH Keys' %}" id="sshkeynav">{% trans 'SSH Keys' %}</a></li>
                <li><a href="/vpn/client/" title="{% trans 'VPN Client' %}" id="vpnclientnav">{% trans 'VPN Client' %}</a></li>
                <li><a href="/power_control/" tile="{% trans 'Power Control' %}" id="powercontrolnav">{% trans 'Reboot' %}</a></li>
                <li><a href="/nuke/" title="{% trans 'Self-destruct' %}" id="nukenav">
                  {% comment %}Translators: This menu option allows users to erase everything from their server{% endcomment %}
                  {% trans 'Self-destruct' %}</a>
                </li>
            {% endif %}
         </ul>
      </div>

      <div id="content">
          {% block content %}
          {% endblock %}
      </div>

      <footer id="footer">
          <div id="footer-content">
               <a href="https://gitlab.com/gibberfish/daygate">daygate</a>
               <a href="https://gibberfish.org" target="_blank">© 2020 Gibberfish, Inc.</a>
          </div>
          <div id="footer-lang">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language" id="lang">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_language_info_list for available_languages as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input hidden name="set_lang" type="submit" value="{% trans 'Go' %}" />
            </form>
        </div>
        <div id="footer-translate">
             {% blocktrans %}Translation errors? Help us correct them <a href="https://webtranslateit.com/en/projects/17646-Gibberfish-Management-Portal">here</a>!{% endblocktrans %}
        </div>
      </footer>
    </body>

    <script type="text/javascript">
        $("#noscript-warning").hide();
        $(document).ready(
            function() {
                $('#lang').on('change', function() {
                    this.form.submit();
                });

                var request_path = '{{ request.path }}';
                if ( ! /^\/(accounts|domain_setup|totp)\//.test(request_path)) {
                    $("#menu").show();
                }
                switch(true) {
                  case /^\/$/.test(request_path):
                    $('#statusnav').addClass('nav-highlight');
                    break;
                  case /^\/deploy\/$/.test(request_path):
                    $('#deploynav').addClass('nav-highlight');
                    break;
                  case /^\/nsupdate\/$/.test(request_path):
                    $('#nsupdatenav').addClass('nav-highlight');
                    break;
                  case /^\/updates\/$/.test(request_path):
                    $('#updatenav').addClass('nav-highlight');
                    break;
                  case /\/backup\/$/.test(request_path):
                    $('#backupnav').addClass('nav-highlight');
                    break;
                  case /^\/ssh_keys\//.test(request_path):
                    $('#sshkeynav').addClass('nav-highlight');
                    break;
                  case /^\/vpn\//.test(request_path):
                    $('#vpnclientnav').addClass('nav-highlight');
                    break;
                  case /^\/power_control\/$/.test(request_path):
                    $('#powercontrolnav').addClass('nav-highlight');
                    break;
                  case /^\/nuke\/$/.test(request_path):
                    $('#nukenav').addClass('nav-highlight');
                    break;

                }
            },
        );
    </script>
</html>
