{% extends 'deploy/wrapper.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<meta http-equiv="refresh" content="3;URL='/'" />
{% trans 'You have been logged out successfully' %}
<script type="text/javascript" src='{% static "deploy/js/jquery-1.12.1.min.js" %}'></script>
<script type="text/javascript">
    $("#menu").hide();
</script>
{% endblock %}
