{% extends 'deploy/wrapper.html' %}
{% load i18n %}
{% load static %}
{% block content %}
{% load bootstrap4 %}

<!-- {% if form.errors %}
    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %} -->

<div id="login-container">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div id="login">
            {% bootstrap_form form show_label=False %}
            {% buttons %}
              <button type="submit" class="btn btn-primary">
                {% trans 'login' %}
              </button>
            {% endbuttons %}
        </div>
        <div id="tos">
            {% with 'https://gibberfish.org/terms' as tos_url %}
                {% blocktrans %}By clicking 'login' above, you are indicating that you have read and agree to the Terms of Service, which are available <a href='{{ tos_url }}'>here</a>{% endblocktrans %}
            {% endwith %}
        </div>
    </form>
    <script type="text/javascript" src='{% static "deploy/js/jquery-1.12.1.min.js" %}'></script>
    <script type="text/javascript">
        $("#menu").hide();
    </script>
</div>
{% endblock %}
