{% extends 'deploy/wrapper.html' %}
{% load i18n %}
{% load static %}
{% block content %}
{% load bootstrap4 %}

<div class="errorlist">
    {% for field in form %}
        {{ field.errors }}
    {% endfor %}
</div>
<form method="post">
    <div id="password-change-container">
      {% csrf_token %}
      <p>
        {% trans 'Please change your Management Portal passphrase.' %}
      </p>
      {% bootstrap_form form show_label=False %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% trans 'Save changes' %}
        </button>
      {% endbuttons %}
    </div>
</form>

<script type="text/javascript">
    $("#menu").hide();
</script>
{% endblock %}
