a {
    font-weight: bold;

    text-decoration: none;

    color: #aaa;
}

a:hover {
    color: #00adee !important;
}

strong {
    color: #00adee;
}

.ssh-keys-list {
    font-size: 11px;

    margin-top: 10px;
}

.add-ssh-key-btn {
    display: block;
    float: right;

    margin-right: 5px;
    margin-left: 10px;
    padding: 15px 15px 10px 15px;

    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
    background: #aaa;
    /* word-spacing: -0.5em; */
    background: rgba(0,0,0,.05);
}

.add-ssh-key-btn a {
    font-size: 18px;
    font-weight: bold;

    color: #000;
}


.alert-success {
    font-weight: bold;

    color: #fff;
    border-color: #0bf;
    background-color: #33c9ff;
}

.close {
    opacity: 1;
    color: #fff;
    text-shadow: none;
}

.progress {
    display: inline;

    width: 600px;
    padding-top: 20px;

    background-color: inherit;
}

.trash-icon {
    margin: 10px;
}

.trash-icon a {
    fill: #aaa;
}

.trash-icon a:hover {
    fill: #00adee;
}

.note {
    width: 500px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.hidden {
    display: none;
}

.btn-primary {
    border-color: #00adee;
    background-color: #00adee;
}

.btn-link {
    font-family: sans-serif;

    margin-top: 20px;
    margin-left: 50px;

    text-decoration: none !important;

    border-color: #00adee;
    background-color: #00adee !important;
}

.btn-link a {
    font-weight: normal;

    color: #fff !important;
}

.btn-link a:hover {
    text-decoration: none !important;
}

.radioactive {
    font-size: 72px;

    word-spacing: 400%;

    color: #ec008b;
}

.centered {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.form-group label {
    font-weight: bold;

    padding-right: 2rem;
}

.red {
    display: inline;

    color: #ec008b;
}

.green {
    display: inline;

    color: #00adee;
}

.indented {
    margin-left: 35px;
}

.inline {
    display: inline;
}

.font-eighty-percent {
    font-size: 80%;
}

.nav-highlight {
    color: #fff !important;
    background-color: #00adee;
}

.errorlist {
    font-weight: bold;

    width: 600px;
    margin-right: auto;
    margin-left: auto;

    list-style-type: none;

    text-align: center;

    color: #ec008b;
}

#launcher-form input[type='text'] {
    width: 100%;
}

#progressbar {
    width: 600px;
    height: 8px;
    margin: auto;
}

#status {
    width: 600px;
    height: 18px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 15px;
}

#success-message {
    width: 600px;
    margin: auto;
    padding-top: 20px;
}

#console textarea {
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 12px;

    float: left;

    width: 600px;
    margin-bottom: 30px;
    padding: 15px;

    resize: none;

    color: #00adee;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    outline: none;
    background: #000;
}

#header {
    height: 100px;
}

#header-content {
    font-size: 28px;
    font-weight: bold;

    color: #222;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#header-content img {
    vertical-align: middle;
}

#login-container {
    width: 600px;
    margin: auto;
    padding: 10px;
}

#totp-container {
    width: 350px;
    margin: auto;
}

#standard-format,
#console {
    width: 600px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

#vpn_client-download-container {
    width: 600px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
}

#vpn_client-download-container a {
    font-size: 1.25em;

    height: 32px;
}

#list-ssh-keys-container {
    width: 700px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

#password-change-container input {
    display: block;

    width: 100%;
    margin: 15px 0 15px 0;
}

#list-ssh-keys-container table {
    margin-left: 50px;
}

#list-ssh-keys-container th {
    text-align: center;
    text-transform: uppercase;
}

#list-ssh-keys-container td {
    padding-right: 10px;
    padding-left: 10px;

    text-align: center;
}

#totp-qrcode {
    padding-top: 10px;
    padding-bottom: 20px;
}

#totp-device-name {
    padding-top: 20px;
}

#menu ul li a:hover {
    background: rgba(0,0,0,.10) !important;
}

#menu {
    position: absolute;

    padding-right: 20px;
}

#menu ul {
    margin-top: 20px;
    padding: 0;

    list-style-type: none;
}

#menu li a {
    display: block;

    max-width: 200px;
    padding: 8px 16px;

    text-decoration: none;

    color: #000;
}

#topline {
    width: 100%;
    /* background: rgba(0,0,0,0.05); */
    margin: 65px 0 0 0;
    padding: 5px;
}

#content {
    clear: both;

    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;

    background: rgb(255,255,255);
}

#content h3 {
    padding: 20px 0 0 20px;

    color: #eee;
    text-shadow: #000 0 0 2px;
}

#content p {
    width: 600px;
    /* padding-bottom:20px; */
    /* margin-left: auto;
    margin-right: auto; */

    text-align: justify;
    text-justify: inter-word;
}

#right-header-menu {
    float: right;

    margin-right: 5px;
}

#right-header-menu a {
    font-size: 16px;

    text-decoration: none;

    color: #000;
}

#right-header-menu ul {
    list-style: none;
}

#right-header-menu ul li {
    display: inline;

    padding: 15px 10px 10px 10px;

    background: rgba(0,0,0,.10);
}

#right-header-menu ul li#configure-2fa-btn {
    background: rgba(0,173,238,.3) !important;
}

#footer {
    position: fixed;
    bottom: 0;

    width: 99%;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: inherit;
}

#footer-content {
    font-size: 12px;

    float: left;
}

#footer-lang {
    float: right;
}

#footer-translate {
    text-align: center;
}

#tos {
    font-size: 14px;

    width: 450px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;

    text-align: center;

    color: #aaa;
}

#tos a {
    text-decoration: underline;

    color: #aaa;
}

#login {
    width: 300px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
}

#logout {
    margin-top: 30px;
}

#token-list {
    width: 200px;
    margin: 30px auto 30px auto;
    padding: 20px 0 20px 0;

    text-align: center;

    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
    background: rgba(0,0,0,.05);
}

#token-list p {
    font-size: 20px;

    width: 200px;
    margin: auto;
    padding: 5px;

    text-align: center;
}

#token-confirm,
#totp-remove-button {
    margin: auto;

    text-align: center;
}

#totp-confirmation-code {
    padding-bottom: 20px;
}

#id_pubkey {
    width: 100%;
    margin-bottom: 10px;
}

#totp-form {
    margin-top: 1em;
}

#advanced-options {
    margin-bottom: 10px;
    padding: 10px;

    border: 2px solid #00adee;
    border-radius: 5px;
}

#noscript-warning {
    width: 100%;
}

:lang(vy) 	{
    font-family: 'Voynich123';
    text-transform: lowercase;
}

/* https://fontlibrary.org/en/font/voynich */
@font-face {
    font-family: 'Voynich123';
    src: url('/static/deploy/fonts/voynich-1.23-webfont.ttf') format('truetype');
}
